@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

label.required:after {
    content: " *";
    color: $danger;
}

a {
    text-decoration: none;

    &:not(.btn):hover {
        text-decoration: underline;
    }
}

.component-forms-container {
    list-style: none;
    padding: 0;

    .btn-remove {
        position: absolute;
        top: -0.8rem;
        right: -0.8rem;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 0 0.04rem;
        line-height: 0;
        border-radius: 100%;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.hidden {
    display: none !important;
}

.bg-pending {
    background-color: $secondary;
}

.bg-started {
    background-color: $warning;
}

.bg-finished {
    background-color: $success;
}

#accordion-workouts {
    span.badge {
        position: absolute;
        right: 60px;
    }
}

.btn {
    .spinner-border {
        display: none;
    }

    &.btn-loading {
        .spinner-border {
            display: inline-block;
        }
    }
}
