@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    flex: 1;
}

.component-forms-container {
    list-style: none;
    padding: 0;
}

.hidden {
    display: none !important;
}

.bg-pending {
    background-color: $secondary;
}

.bg-started {
    background-color: $warning;
}

.bg-finished {
    background-color: $success;
}

#accordion-workouts {
    span.badge {
        position: absolute;
        right: 60px;
    }
}

.btn {
    .spinner-border {
        display: none;
    }

    &.btn-loading {
        .spinner-border {
            display: inline-block;
        }
    }
}
