@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    flex: 1;
}

.component-forms-container {
    list-style: none;
    padding: 0;
}
