{% extends 'base.html.twig' %}

{% block title %}Training buddy is under construction{% endblock %}

{% block body %}
    <div class="text-center">
        <h2 class="mb-5">
            Training buddy is under construction, follow us on
            <a href="{{ instagramLink }}" target="_blank">the gram</a>
        </h2>
        <img style="width: 300px" src="{{ asset('images/workout-cats.gif') }}" alt="Arnold curling cats">
    </div>
{% endblock %}
